@import "tailwindcss";

@theme {
  --font-jetbrains: var(--font-jetbrains), monospace;
}

:root {
  --background: #F2F2F2;
  --foreground: #282828;
  --accent: #51B85F;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains);
}

strong {
  color: var(--accent);
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}